# dependencies
node_modules/

# env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build folders
dist/
build/

# OS files
.DS_Store

# uploads (optional if you store locally)
uploads/